src/main/resources/xsds/testsoap.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://soap-test-schema/helloworld"
	targetNamespace="http://soap-test-schema/helloworld"
	elementFormDefault="qualified">

	<xs:element name="helloWorldRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="helloWorldResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="out" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>